venv/
downloaded_images
export.json
filtered_export.json
*/labels/
*/images/
.env
tmp/

*/exported_images/
*/jsons/
*/texts/
*.zip
ukazka_page_xml.py

*/__pycache__/
*/filtered_texts/
*/output_context/
*/filtered_jsons/
*/filtered_images/
*/splitted_jsons/
*/downloaded_texts/
*/cropped_images/
*/filtered_texts_no_desc/